.caja {
    color:white;
    background-color: blue;
    width: 200px;
    height: 200px;
    padding: 10px 50px 60px 10px ;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
    border: 20px solid aquamarine;
    border-left: 20px solid black;
    border-right: 20px solid green;
    border-radius: 30px;

}

.boton1 {
    margin-right: 50px;
}
.boton2 {
    padding-left: 50;

}